
@{
    ViewData["Title"] = "Beszallitok";
}

<div class="container">
    <h2>Beszállítók <span class="glyphicon glyphicon-plus-sign align-top" style="cursor: pointer" title="Új beszállító felvétele"></span></h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">

    <div id="myTable" class="mt-2 border border-dark">
        <div class="border bg-light" style="height:40px;">
            <div class="m-2">
                <div class="font-weight-bold" style="display:inline-block; font-size:20px;">
                    <span id="show" class="glyphicon glyphicon-menu-right" style="cursor: pointer"></span>
                    <span id="hide" class="glyphicon glyphicon-menu-down" style="cursor: pointer"></span>
                    CocaCola - (06-30-1234-567)
                </div>
            </div>
        </div>
        <table id="myTermekTable" class="table table-bordered table-striped mb-0">
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Egység Ár</th>
                    <th>üveg/rekesz</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <td>Soproni 1895</td>
                    <td>550 FT/üveg</td>
                    <td>20 üveg/rekesz</td>
                </tr>
                <tr>
                    <td>Soproni 1895</td>
                    <td>550 FT/üveg</td>
                    <td>20 üveg/rekesz</td>
                </tr>
            </tbody>
        </table>
        <div class="border bg-light" style="height:40px;">
            <div class="m-2">
                <div class="font-weight-bold" style="display:inline-block; font-size:20px;">
                    <span id="show" class="glyphicon glyphicon-menu-right" style="cursor: pointer"></span>
                    <span id="hide" class="glyphicon glyphicon-menu-down" style="cursor: pointer"></span>
                    Soproni - (06-20-1234-567)
                </div>
            </div>
        </div>
        <div class="border bg-light" style="height:40px;">
            <div class="m-2">
                <div class="font-weight-bold" style="display:inline-block; font-size:20px;">
                    <span id="show" class="glyphicon glyphicon-menu-right" style="cursor: pointer"></span>
                    <span id="hide" class="glyphicon glyphicon-menu-down" style="cursor: pointer"></span>
                    Sörgyár - (06-70-1234-567)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable div").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $("#myTermekTable").hide();
        $("#hide").hide();
        $("#show").show();

        $("#hide").click(function () {
            $("#myTermekTable").hide();
            $("#hide").hide();
            $("#show").show();
        });
        $("#show").click(function () {
            $("#myTermekTable").show();
            $("#hide").show();
            $("#show").hide();
        });
    });


</script>