
@{
    ViewData["Title"] = "Stand";
}

<h1>Stand</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Név</th>
            <th>Nyitó</th>
            <th>Vétel</th>
            <th>Össz</th>
            <th>Záró</th>
            <th>Selejt</th>
            <th>Eladva</th>
            <th>Ár</th>
            <th>Veszteség</th>
            <th>Bevétel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Coca Cola</td>
            <td>50</td>
            <td><input type="number" class="form-control" /></td>
            <td>50</td>
            <td><input type="number" value="alma" class="form-control" /></td>
            <td><input type="number" class="form-control" /></td>
            <td>14</td>
            <td>350</td>
            <td>350</td>
            <td>4900</td>
        </tr>
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-light">Átvétel</button>
    <button type="button" class="btn btn-light">Stand lezárása</button>
</div>


