@model IEnumerable<BProfTemaLab.Dal.Dtos.ProductDto>
@{
    ViewData["Title"] = "Termekek";
}

<div class="container">
    <h2>Termékek <span class="glyphicon glyphicon-plus-sign align-top" style="cursor: pointer" title="Új termék felvétele"></span></h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    
    <vc:product products="@Model"></vc:product>
</div>




