
@{
    ViewData["Title"] = "Termekek";
}

<div class="container">
    <h2>Termékek <span class="glyphicon glyphicon-plus-sign align-top" style="cursor: pointer" title="Új termék felvétele"></span></h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Név</th>
                <th>Beszállító</th>
                <th>Egység Ár</th>
                <th>Rekesz/db</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>Soproni 1895</td>
                <td>Soproni</td>
                <td>550</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Coca Cola</td>
                <td>CocaCola</td>
                <td>350</td>
                <td>24</td>
            </tr>
            <tr>
                <td>Rövid italos cég</td>
                <td>Unicum</td>
                <td>20000</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>




