@model IEnumerable<BProfTemaLab.Dal.Entities.Product>
@{
    ViewData["Title"] = "Termekek";
}

<div class="container">
    <h2>Termékek <span class="glyphicon glyphicon-plus-sign align-top" style="cursor: pointer" title="Új termék felvétele"></span></h2>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Név</th>
                <th>Beszállító</th>
                <th>Egység Ár</th>
                <th>Rekesz/db</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <vc:product product="product"></vc:product>
            }
        </tbody>
    </table>

</div>




