
@{
    ViewData["Title"] = "UjBeszallito";
}

<div>
    <h2>Új beszállító</h2>
    <div class="form-group">
        <label style="width: 200px">Beszállító neve:</label>
        <input type="text" class="form-control" style="width: 200px; display:inline-block;"/>
    </div>
    <div class="form-group">
        <label style="width: 200px">Telefonszám:</label>
        <input type="text" class="form-control" style="width: 200px; display:inline-block;"/>
    </div>
    <div class="form-group">
        <label style="width: 200px">E-mail:</label>
        <input type="text" class="form-control" style="width: 200px; display:inline-block;"/>
    </div>
    <div class="form-group">
        <label style="width: 200px">Cím:</label>
        <input type="text" class="form-control" style="width: 200px; display:inline-block;"/>
    </div>
    <div>
        <button type="button" class="btn btn-light">Vissza</button>
        <button type="button" class="btn btn-light">Mentés</button>
    </div>
</div>
