
@{
    ViewData["Title"] = "UjTermek";
}

<div>
    <h2>Új termék</h2>
    <div class="form-group">
        <label style="width: 200px">Beszállító:</label>
        <select class="form-control" style="width: 200px; display:inline-block;">
            <option>Soproni</option>
            <option>CocaCola</option>
            <option>Sör gyár</option>
        </select>
    </div>
    <div class="form-group">
        <label style="width: 200px; vertical-align: top;">Termék neve:</label>
        <textarea class="form-control" style="width: 200px; display:inline-block;"></textarea>
    </div>
    <div class="form-group">
        <label style="width: 200px" ">Egység ár:</label>
        <input type="number" class="form-control" style="width: 200px; display:inline-block;" />
    </div>
    <div class="form-group">
        <label style="width: 200px">Mértékegység:</label>
        <select class="form-control" style="width: 200px; display:inline-block;">
            <option>üveg</option>
            <option>liter</option>
        </select>
    </div>
    <div class="form-group">
        <label style="width: 200px">Rekesz:</label>
        <input type="number" class="form-control" style="width: 200px; display: inline-block;" />
    </div>
    <div>
        <button type="button" class="btn btn-light">Vissza</button>
        <button type="button" class="btn btn-light">Mentés</button>
    </div>
</div>

