@model BProfTemaLab.Dal.Dtos.SupplierDto

<div id="myBeszallitoTable" class="mt-2 border border-dark">
    <div class="border bg-light" style="height:40px;">
        <div class="m-2">
            <div class="font-weight-bold" style="display:inline-block; font-size:20px;">
                <span id="show" class="glyphicon glyphicon-menu-right" style="cursor: pointer"></span>
                <span id="hide" class="glyphicon glyphicon-menu-down" style="cursor: pointer"></span>
                @Model.Name - @Model.PhoneNumber
            </div>
        </div>
    </div>
    <div class="m-2">
        <vc:product products="@Model.Products"></vc:product>
    </div>
</div>
